/**
 * Rating filter widget
 */
.elementor-widget-wp-widget-woocommerce_layered_nav,
.widget_layered_nav{
	
	.select2{
		.select2-selection--single{
			height: $wc-widget-select-height;
			border: 1px solid $wc-border-color;
			border-radius: 4px;
			
			.select2-selection__arrow{
				height: $wc-widget-select-height;
			}
			
			.select2-selection__rendered{
				line-height: $wc-widget-select-height;
			}
		}
	}
	
	ul{
		list-style: none;
		margin: 0;
		
		li{
			position: relative;
			padding-left: 32px;
			
			&:before{
				content: "";
				position: absolute;
				z-index: 4;
				left: 0;
				top: 2px;
				width: 22px;
				height: 22px;
				display: block;
				border: 1px solid $wc-border-color;
				border-radius: 0;
			}
			
			&.chosen{
				&:after{
					content: '';
					position: absolute;
					z-index: 5;
					left: 4px;
					top: 6px;
					display: block;
					width: 14px;
					height: 14px;
							mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 78.369 78.369" xml:space="preserve"><path d="M78.049,19.015L29.458,67.606c-0.428,0.428-1.121,0.428-1.548,0L0.32,40.015c-0.427-0.426-0.427-1.119,0-1.547l6.704-6.704 c0.428-0.427,1.121-0.427,1.548,0l20.113,20.112l41.113-41.113c0.429-0.427,1.12-0.427,1.548,0l6.703,6.704 C78.477,17.894,78.477,18.586,78.049,19.015z"/></svg>');
					-webkit-mask-image: url('data:image/svg+xml;utf8,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 78.369 78.369" xml:space="preserve"><path d="M78.049,19.015L29.458,67.606c-0.428,0.428-1.121,0.428-1.548,0L0.32,40.015c-0.427-0.426-0.427-1.119,0-1.547l6.704-6.704 c0.428-0.427,1.121-0.427,1.548,0l20.113,20.112l41.113-41.113c0.429-0.427,1.12-0.427,1.548,0l6.703,6.704 C78.477,17.894,78.477,18.586,78.049,19.015z"/></svg>');
					background-color: #fff;
				}
			}
			
			
			
		}
		
	}
}

.woocommerce .elementor-widget-wp-widget-woocommerce_layered_nav button,
.woocommerce .widget_layered_nav button {
	margin-top: 15px;
	padding-left: 20px;
	padding-right: 20px;
	border: 1px solid #E8E9EB;
	background-color: transparent;

	&:hover,
	&:hover {
		color: #fff;
	}
}

.select2-dropdown{
	border-color: $wc-border-color!important;
}

.elementor-widget-wp-widget-woocommerce_layered_nav .select2 .select2-selection--multiple .select2-selection__rendered,
.widget_layered_nav .select2 .select2-selection--multiple .select2-selection__rendered {
	padding-top: 5px !important;
}
